package views

import "github.com/GreenTheColour1/go-blog/posts"

templ Home(post *posts.Post) {
	@base() {
		<div>
			if post != nil {
				<article>
					@templ.Raw(post.RawHTML)
				</article>
			}
		</div>
	}
}
